.cartContainer {
    margin: 8vh 8vh 0vh 8vh;
}

.cartProductContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cartProductImg {
    width: 15vw;
}

.cartProductDetails {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}

.cartBtnsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 4vh;
    margin-bottom: 10vh;
}

.emptyCartBtnContainer, .buyBtnContainer {
    width: 15vw;
    height: 5vh;
    border: 2px solid rgb(174, 121, 199);
    border-radius: 5px;
    margin-top: 1vh;
    margin-left: 7vw;
}

.keepShoppingBtnContainer {
    width: 15vw;
    height: 5vh;
    border: 2px solid rgb(174, 121, 199);
    border-radius: 5px;
    margin-top: 1vh;
}

.removeProductBtnContainer {
    width: 4vw;
    height: 5vh;
    border: 2px solid rgb(174, 121, 199);
    border-radius: 5px;
    margin-top: 1vh;
    margin-left: 7vw;
}

.emptyCartBtn, .buyBtn, .removeProductBtn, .keepShoppingBtn {
    width: 100%;
    height: 5vh;
    color: rgb(174, 121, 199);
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}

.emptyCartBtn:hover, .buyBtn:hover, .removeProductBtn:hover, .keepShoppingBtn:hover {
    background-color: rgb(174, 121, 199);
    color: white;
}

.emptyCartMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.totalPriceContainer {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid rgb(174, 121, 199);
}

.totalPrice {
    font-size: x-large;
}

.formCotainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form input {
    margin-bottom: 2vh;
    height: 3vh;
    width: 40vw;
}

.finishOrderContainer {
    width: 100vw;
    height: 100vh;
    text-align: -webkit-center;
}

.finishOrder {
    width: 80vw;
    margin-top: 10vh;
    font-size:x-large;
    text-align: center;
}