.cartWidget {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-right: 2vw;
    color: black;
}

.cartIcon {
    align-self: center;
}

.cartNumber  {
    width: 1.3em;
    height: 1.3em;
    text-align: center;
}