.itemList {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    column-gap: 4vw;
    row-gap: 10vh;
    justify-items: center;
}

@media (max-width: 992px) {
    .itemList {
        grid-template-columns: repeat(2, 40vw);
    }
}

@media (max-width: 576px) {
    .itemList {
        grid-template-columns: repeat(1, 80vw);
    }
}