.counterContainer{
    width: 15vw;
}

.counter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.quantityBtn {
    width: 2vw;
    height: 5vh;
    color: rgb(174, 121, 199);
    font-size: medium;
    font-weight: bold;
    border: 2px solid rgb(174, 121, 199);
    border-radius: 5px;
    background-color: white; 
    cursor: pointer;
}

.addToCartBtnContainer {
    width: 15vw;
    height: 5vh;
    border-radius: 5px;
}

.addToCartBtn {
    width: 100%;
    height: 5vh;
    color: rgb(174, 121, 199);
    font-size: medium;
    font-weight: bold;
    border: 2px solid rgb(174, 121, 199);
    border-radius: 5px;
    background: none;
    cursor: pointer;
}

.addToCartBtn:hover, .quantityBtn:hover {
    background-color: rgb(174, 121, 199);
    color: white;
}

@media (max-width: 992px) {
    .counterContainer {
        width: 40vw;
    }
}

.outOfStockQuantityBtn {
    width: 2vw;
    height: 5vh;
    background-color: rgb(213, 134, 250);
    font-size: medium;
    font-weight: bold;
    color: white;
    cursor: not-allowed;
    border: 2px solid rgb(213, 134, 250);
    border-radius: 5px;
}

.outOfStockAddToCartBtn {
    width: 100%;
    height: 5vh;
    color: white;
    font-size: medium;
    font-weight: bold;
    border: none;
    background-color: rgb(213, 134, 250);
    border: 2px solid rgb(213, 134, 250);
    border-radius: 5px;
    cursor: not-allowed;
}